<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>D-Day</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seafaring Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<!-- //this_css -->
<link href="../static/css/friends.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" href="/" title="Aahan Krish's Blog - Homepage">ASUS Customer Service</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="col-sm-3 col-md-3 pull-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search-term" id="search-term">
            <div class="input-group-btn">
                <button id="submit" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </div>

    </div>
</div>


<div class="container">
  <h2>情緒＆滿意度偵測程式</h2>
  <p>將客戶的語句，打上右上角的搜尋框，程式將分析這句話的程序與滿意度。</p>          
  <svg id='sentenceSvg' width="360" height="250"></svg>
  <svg id='windowsSvg' width="360" height="250"></svg>  
  <svg id='dialogueSvg' width="360" height="250"></svg>  
  
  <table class="table .table-striped" id="demoTable">
    <thead>
      <tr>
        <th>#</th>
        <th>情緒分數</th>
        <th>結果</th>
        <th>LinearSVC預測結果</th>
        <th>Naive_Bayes預測結果</th>
        <th>RandomForest預測結果</th>
        <th>DecisionTree預測結果</th>
      </tr>
    </thead>
    <tbody>
      <tr id='sentence'>
      </tr>
      <tr id='windows'>
      	
      </tr>
      <tr id='dialogue'>
      	
      </tr>
    </tbody>
  </table>
</div>

<!-- for bootstrap working -->
<!-- //for bootstrap working -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><script src="https://d3js.org/d3.v4.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
<script>
var sentenceSvg = d3.select("#sentenceSvg"),
	margin = {top: 20, right: 20, bottom: 30, left: 50},
	width = +sentenceSvg.attr("width") - margin.left - margin.right,
	height = +sentenceSvg.attr("height") - margin.top - margin.bottom,
	sentence_g = sentenceSvg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var windowsSvg = d3.select("#windowsSvg"),
	margin = {top: 20, right: 20, bottom: 30, left: 50},
	width = +windowsSvg.attr("width") - margin.left - margin.right,
	height = +windowsSvg.attr("height") - margin.top - margin.bottom,
	windows_g = windowsSvg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var dialogueSvg = d3.select("#dialogueSvg"),
	margin = {top: 20, right: 20, bottom: 30, left: 50},
	width = +dialogueSvg.attr("width") - margin.left - margin.right,
	height = +dialogueSvg.attr("height") - margin.top - margin.bottom,
	dialogue_g = dialogueSvg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var counter = 1
var sentenceDataList = [], windowsDataList = [], dialogueDataList = []

var x = d3.scaleOrdinal()
		.range([0, width]);

var y = d3.scaleLinear()
		.rangeRound([height, 0]);

  sentence_g.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  sentence_g.append("g")
      .call(d3.axisLeft(y))
    .append("text")
      .attr("fill", "#000")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Score ($)");

 windows_g.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  windows_g.append("g")
      .call(d3.axisLeft(y))
    .append("text")
      .attr("fill", "#000")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Score ($)");

   dialogue_g.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  dialogue_g.append("g")
      .call(d3.axisLeft(y))
    .append("text")
      .attr("fill", "#000")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Score ($)");

function buildTdElement(TrElement, dataInfo){
	var y = document.createElement("TD");
    var t = document.createTextNode(dataInfo);
    y.appendChild(t);
    TrElement.appendChild(y);
}

var w2v_svr_pos_threshold = -0.2
var w2v_svr_neg_threshold = -0.45

function score2text(score){
    if(score > w2v_svr_pos_threshold){
        return '滿意';
	}
    else if (score < w2v_svr_neg_threshold){
        return '不滿意';
    }
    else{
        return '中立';
    }
}

function lableResult(score){
	if(score==1){
		return '滿意';
	} else {
		return '不滿意';
	}
}

function updateTable(data, sentence_value){
	$('#windows').remove();
	$('#dialogue').remove();
	var sentence = document.createElement("TR");
	sentence.setAttribute("id", "sentence");
    document.getElementById("demoTable").appendChild(sentence);
    // 次序
    console.log(counter);
    buildTdElement(sentence, counter+': '+sentence_value)
	// 情緒分數
	buildTdElement(sentence, data['sentence_score'][0].toFixed(3))
	//結果
	buildTdElement(sentence, score2text(data['sentence_score']))
	//LinearSVC預測結果
	buildTdElement(sentence, lableResult(data['sentence_classifier']['linearSVC_clf']))
	//Naive_Bayes預測結果
	buildTdElement(sentence, lableResult(data['sentence_classifier']['naive_bayes_clf']))
	//RandomForest預測結果
	buildTdElement(sentence, lableResult(data['sentence_classifier']['randomForest_clf']))
	// DecisionTree預測結果
	buildTdElement(sentence, lableResult(data['sentence_classifier']['decisionTree_clf']))


	var windows = document.createElement("TR");
    windows.setAttribute("id", "windows");
    document.getElementById("demoTable").appendChild(windows);
    // 次序
    buildTdElement(windows, '三句內對話')
	// 情緒分數
	buildTdElement(windows, data['window_score'][0].toFixed(3))
	//結果
	buildTdElement(windows, score2text(data['window_score']))
	//LinearSVC預測結果
	buildTdElement(windows, lableResult(data['windows_classifier']['linearSVC_clf']))
	//Naive_Bayes預測結果
	buildTdElement(windows, lableResult(data['windows_classifier']['naive_bayes_clf']))
	//RandomForest預測結果
	buildTdElement(windows, lableResult(data['windows_classifier']['randomForest_clf']))
	// DecisionTree預測結果
	buildTdElement(windows, lableResult(data['windows_classifier']['decisionTree_clf']))


	var dialogue = document.createElement("TR");
    dialogue.setAttribute("id", "dialogue");
    document.getElementById("demoTable").appendChild(dialogue);
    // 次序
    buildTdElement(dialogue, '完整對話')
	// 情緒分數
	buildTdElement(dialogue, data['dialogue_score'][0].toFixed(3))
	//結果
	buildTdElement(dialogue, score2text(data['dialogue_score']))
	//LinearSVC預測結果
	buildTdElement(dialogue, lableResult(data['dialogue_classifier']['linearSVC_clf']))
	//Naive_Bayes預測結果
	buildTdElement(dialogue, lableResult(data['dialogue_classifier']['naive_bayes_clf']))
	//RandomForest預測結果
	buildTdElement(dialogue, lableResult(data['dialogue_classifier']['randomForest_clf']))
	// DecisionTree預測結果
	buildTdElement(dialogue, lableResult(data['dialogue_classifier']['decisionTree_clf']))
}


function drawPath(svg, datalist){

	margin = {top: 20, right: 20, bottom: 30, left: 50},
	width = +svg.attr("width") - margin.left - margin.right,
	height = +svg.attr("height") - margin.top - margin.bottom,
	g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	var x = d3.scaleLinear()
			    .range([0, width])
			    .domain([0, 10]);

			var y = d3.scaleLinear()
			    .rangeRound([height, 0])
			    .domain([-5, 10]);

			var line = d3.line()
			    .x(function(d) { return x(d.x); })
			    .y(function(d) { return y(d.y); })

	g.append("g")
		.attr("class", "x axis")
		      	.attr("transform", "translate(0," + height + ")")
		      	.call(d3.axisBottom(x));

	g.append("g")
			      .call(d3.axisLeft(y))
			    .append("text")
			      .attr("fill", "#000")
			      .attr("transform", "rotate(-90)")
			      .attr("y", 6)
			      .attr("dy", "0.71em")
			      .attr("text-anchor", "end")
			      .text("score ($)");

	g.append("path")
			      .attr("fill", "none")
			      .attr("stroke", "steelblue")
			      .attr("stroke-linejoin", "round")
			      .attr("stroke-linecap", "round")
			      .attr("stroke-width", 1.5)
			      .attr("d", line(datalist));
}

// Ajax
function callApi(){
	var url = window.location.href;
	var arr = url.split("/");
	var result = arr[0] + "//" + arr[2];
	$.ajax({
    	url: result+"/search?query="+$('#search-term').val(),
    	type: 'GET',
    	error: function(xhr) {
	      alert('Ajax request 發生錯誤');
	    },
    	success: function(result){
    		data = {}
    		data['x'] = counter
    		data['y'] = result['sentence_score'][0] 
    		sentenceDataList.push(data);

    		data = {}
    		data['x'] = counter
    		data['y'] = result['window_score'][0] 
    		windowsDataList.push(data);

    		data = {}
    		data['x'] = counter
    		data['y'] = result['dialogue_score'][0] 
    		dialogueDataList.push(data);

    		sentence_g.remove();
    		sentenceSvg = d3.select("#sentenceSvg");
    		drawPath(sentenceSvg, sentenceDataList);

			windows_g.remove();
			windowsSvg = d3.select("#windowsSvg");
    		drawPath(windowsSvg, windowsDataList);

			dialogue_g.remove();
			dialogueSvg = d3.select("#dialogueSvg");
			drawPath(dialogueSvg, dialogueDataList);

			updateTable(result, $('#search-term').val());

			counter+=1;
		}
	});
}

$("#submit").click(function(){
    callApi();
});

$('#search-term').keydown(function (e){
    if(e.keyCode == 13){
        callApi();
    }
})

</script>

</body>
</html>